.classpath
.idea/
.project
*.iml
**/gen/*
**/bin/*
platforms/android/assets/www
platforms/ios/www
platforms/ios/Advice\ Owl.xcodeproj/xcuserdata
platforms/ios/Advice\ Owl.xcodeproj/project.xcworkspace
platforms/ios/Advice\ Owl.xcodeproj/project.pbxproj
console.log
chrome/app.zip
chrome/www/*
obj/
**/Bin/Debug/*
*.suo
*.user