.classpath
.project
**/gen/*
**/bin/*
platforms/android/assets/www
platforms/ios/www
platforms/ios/Advice\ Owl.xcodeproj/xcuserdata
platforms/ios/Advice\ Owl.xcodeproj/project.xcworkspace
console.log
